<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><a href="#">{{ "bookings"|trans }}</a></p>
            </div>
            <div class="col-md-4">
                <h3>{{ "help"|trans }}</h3>
                <p><a href="#">{{ "faq"|trans }}</a></p>
                <p><a href="#">{{ "contact"|trans }}</a></p>
            </div>
            <div class="col-md-4">
                <h3>AirHotel</h3>
                <p><a href="#">{{ "legalmentions"|trans }}</a></p>
                <p><a href="#">CGV</a></p>
            </div>
        </div>
    </div>
</footer>