<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            AirHotel {% if app.environment == "dev" %}[DEV]{% endif %}
        </a>

        <ul class="nav navbar-nav">
            <li class="nav-item nav-link">
                {% if app.user %}
                    {{ 'navbar.hello'|trans }} {{ app.user.username }}
                {% else %}
                    <li>
                        <a class="nav-link" href="{{ path('user_login') }}">
                            <i class="fa fa-sign-in pr-1"></i>
                            {{ 'navbar.connect'|trans }}
                        </a>
                    </li>
                {% endif %}
            </li>

            <li class="nav-item nav-link">
                <div class="dropdown">
                    <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="languageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-globe-americas"></i>
                    </a>

                    {% set params = app.request.attributes.get('_route_params') %}
                    <div class="dropdown-menu" aria-labelledby="languageMenu">
                        <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), params|merge({'_locale': 'en'})) }}">EN</a>
                        <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), params|merge({'_locale': 'fr'})) }}">FR</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>