{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">Rechercher :</div>
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="smoker">
                                    <label class="custom-control-label" for="smoker">{{ "smoker"|trans }}</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="animals">
                                    <label class="custom-control-label" for="animals">{{ "animals"|trans }}</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="handicape">
                                    <label class="custom-control-label"
                                           for="handicape">{{ "handiccaped"|trans }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12">Date: {{ "from"|trans }} <input type="text" id="arrivalDate"
                                                                            class="form-control"/> {{ "to"|trans }}
                            <input type="text" id="departureDate" class="form-control"/></div>
                    </div>
                </div>
            </div>
        </div>

        {% for room in rooms %}
            <div class="card mt-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="/images/{{ room.roomtype.name }}-room.jpg" alt="Chambre simple" class="img-fluid" />
                        </div>
                        <div class="col-lg-8 col-6">
                            <h2>{{ "room"|trans }} {{ room.id }}</h2>
                            {% if room.smokingAllowed %}
                                <i class="fas fa-smoking"></i>
                            {% endif %}
                            {% if room.animalAllowed %}
                                <i class="fas fa-paw"></i>
                            {% endif %}
                            {% if room.handicappedAccess %}
                                <i class="fas fa-wheelchair"></i>
                            {% endif %}
                        </div>
                        <div class="col-lg-2 col-4">
                            <h3>{{ room.roomtype.price }} €</h3>
                            <a class="btn btn-success btn-block badge-pill" href="{{ path('room_show', {'id' : room.id}) }}">Voir / Réserver</a>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#arrivalDate, #departureDate").datepicker({
                format: "dd/mm/yyyy"
            });

            $('#arrivalDate').datepicker()
                .on("changeDate", function (e) {
                    console.log(e.date);
                    $("#departureDate").datepicker('setStartDate', e.date);
                });
            $('#arrivalDate').datepicker('setStartDate', new Date());

            $('#departureDate').datepicker()
                .on("changeDate", function (e) {
                    $("#arrivalDate").datepicker('setEndDate', e.date);
                });
        })
    </script>
{% endblock %}